if server
  ol.breadcrumb
    li
      a(href='/#/') Home
    li
      a(href='/#/servers') Servers
    li #{server.name}
  h1 #{server.name}
  form.form-horizontal.item(action='#')
    div.form-group
      label.col-md-2.control-label(for='id') ID
      div.col-md-6
        input.form-control(type='text', name='id', value=server.id, pattern='\\d+', required, disabled)
    div.form-group
      label.col-md-2.control-label(for='name') Name
      div.col-md-6
        input.form-control(type='text', name='name', value=server.name, placeholder='localhost', required)
    div.form-group
      label.col-md-2.control-label(for='ipv4') IPv4 Address
      div.col-md-6
        input.form-control(type='text', name='ipv4', value=server.ipv4, placeholder='127.0.0.1', pattern='(\\d{1,3}\.){3}\\d{1,3}', required)
    div.form-group
      div.col-md-10.col-md-offset-2
        include ../includes/form-buttons.jade
  hr
  button.btn.btn-primary.pull-right(type='button') Assign
  h2 Binaries
  if binary_versions && binary_versions.length
    table.datatable.table.table-striped.table-bordered
      thead
        tr
          th Name
          th Identifier
          th Note
          th EOL
      tbody
        each version in binary_versions
          tr
            td
              a(href='/#/binaries/' + version.binary().id) #{version.binary().name}
            td
              a(href='/#/binaries/versions/' + version.id) #{version.identifier}
            td
              if version.note
                | #{version.note}
              else
                | -
            td
              if version.eol
                | #{version.eol}
              else
                | -
    include ../includes/datatables-js.jade
  else
    div.alert.alert-info
      span.pficon.pficon-info
      | No binaries are installed on this server.
else
  include ../includes/not-found.jade
