if server
  ol.breadcrumb
    li
      a(href='/#/') Home
    li
      a(href='/#/servers') Servers
    li #{server.name}
  h1 #{server.name}
  form.form-horizontal.item
    div.form-group
      label.col-md-2.control-label(for='id') ID
      div.col-md-6
        input#id.form-control(type='text', name='id', value='#{server.id}', required, disabled)
    div.form-group
      label.col-md-2.control-label(for='name') Name
      div.col-md-6
        input#name.form-control(type='text', name='name', value='#{server.name}', required)
    div.form-group
      label.col-md-2.control-label(for='ipv4') IPv4 Address
      div.col-md-6
        input#ipv4.form-control(type='text', name='ipv4', value='#{server.ipv4}')
    div.form-group
      div.col-md-10.col-md-offset-2
        include ../includes/form-buttons.jade
  //- hr
  //- button.btn.btn-primary.pull-right(type='button') Add New
  //- h2 Binaries
  //- if binaries && binaries.length
  //- else
  //-   div.alert.alert-info
  //-     span.pficon.pficon-info
  //-     | No binaries installed on this server.
else
  include ../includes/not-found.jade
