if version
  ol.breadcrumb
    li
      a(href='/#/') Home
    li
      a(href='/#/binaries') Binaries
    li
      a(href='/#/binaries/' + binary.id) #{binary.name}
    li
      a(href='/#/binaries/versions') Versions
    li #{version.identifier}
  h1 #{binary.name} - #{version.identifier}
  form.form-horizontal.item
    div.form-group
      label.col-md-2.control-label(for='id') ID
      div.col-md-6
        input.form-control(type='text', name='id', value='#{version.id}', required, disabled)
    div.form-group
      label.col-md-2.control-label(for='identifier') Identifier
      div.col-md-6
        input.form-control(type='text', name='name', value='#{version.identifier}', required)
    div.form-group
      label.col-md-2.control-label(for='note') Note
      div.col-md-6
        textarea.form-control(name='note', rows='5') #{version.note}
    div.form-group
      label.col-md-2.control-label(for='eol') EOL
      div.col-md-6
        input.form-control(type='datetime', name='eol', value='#{version.eol}')
    div.form-group
      div.col-md-10.col-md-offset-2
        include ../../includes/form-buttons.jade
else
  include ../../includes/not-found.jade
