if item
  h1 Binary Version: #{item.id}
  fieldset
    legend Properties
    div.form-group
      label.col-md-2.control-label(for='id') ID
      div.col-md-6
        input.form-control(type='text', name='id', value=item.id, pattern='\\d+', required, disabled)
    div.form-group
      label.col-md-2.control-label(for='binary') Binary
      div.col-md-6
        input.form-control(type='text', name='binary', value=item.binary().name, required, disabled)
    div.form-group
      label.col-md-2.control-label(for='identifier') Identifier
      div.col-md-6
        input.form-control(type='text', name='identifier', placeholder='0.1.0', value=item.identifier, required)
    div.form-group
      label.col-md-2.control-label(for='note') Note
      div.col-md-6
        textarea.form-control(name='note', rows='5', placeholder='Fixes issue #190.') #{item.note}
    div.form-group
      label.col-md-2.control-label(for='eol') EOL
      div.col-md-6
        input.form-control(type='date', name='eol', value=item.eol, placeholder='2015-12-31', pattern='\\d{4}-\\d{2}-\\d{2}')
  div.form-group
    div.col-md-10.col-md-offset-2
      button.btn.btn-primary.spine-save(type='submit') Save
      button.btn.btn-default.spine-cancel(type='button') Cancel
      button.btn.btn-danger.spine-destroy(type='button', data-toggle='confirmation') Delete
      script.
        $(function () {
          $('[data-toggle=confirmation]').confirmation();
        });
else
  include ../../shared/helpers
    +not-found('binary version')
