if item
  td: a(href='/#/binaries/versions/' + item.id) #{item.id}
  td
    - var binary = item.binary()
    a(href='/#/binaries/'+ binary.id) #{binary.name}
  td: a(href='/#/binaries/versions/' + item.id) #{item.identifier}
  td #{item.note}
  td
    if item.eol
      | #{item.eol}
    else
      | -
