//- TODO: split into two parts
if category.id
  ol.breadcrumb
    li
      a(href='/#/') Home
    li
      a(href='/#/binaries') Binaries
    li
      a(href='/#/binaries/categories') Categories
    li #{category.name}
  h1 #{category.name}
  form.form-horizontal.item
    div.form-group
      label.col-md-2.control-label(for='id') ID
      div.col-md-6
        input.form-control(type='text', name='id', value='#{category.id}', required, disabled)
    div.form-group
      label.col-md-2.control-label(for='name') Name
      div.col-md-6
        input.form-control(type='text', name='name', value='#{category.name}', required)
    div.form-group
      label.col-md-2.control-label(for='description') Description
      div.col-md-6
        textarea.form-control(name='description', rows='5') #{category.description}
    div.form-group
      div.col-md-10.col-md-offset-2
        include ../includes/form-buttons.jade
  hr
  button.btn.btn-primary.pull-right(type='button') Add New
  h2 Binaries
  if category.binaries && category.binaries.length
    each binary in _.sortBy(category.binaries, 'name')
      | #{binary.name}
  else
    div.alert.alert-info
      span.pficon.pficon-info
      | No binaries in this category.
else
  include ../includes/not-found.jade
