ol.breadcrumb
  li
    a(href='/#/') Home
  li Binaries
button.btn.btn-primary.pull-right(type='button') Add New
h1 Binaries
if binaries && binaries.length
  table.datatable.table.table-striped.table-bordered
    thead
      tr
        th Name
        th Description
        th Categories
        th Homepage
        //- td(style='text-align: center') Installed
    tbody.items
      each binary in _.sortBy(binaries, 'name')
        tr
          td
            a(href='/#/binaries/' + binary.id) #{binary.name}
          td
            if binary.description
              | #{binary.description}
            else
              | -
          td
            if binary.categories && binary.categories.length
              - var categories = _.sortBy(binary.categories, 'name')
                each category in categories
                  a(href='/#/binaries/categories/' + category.id) - #{category.name}
                  br
            else
              | -
          td
            if binary.homepage
              a(href=binary.homepage, target='_blank') #{binary.homepage}
            else
              | -
          //- td(style='text-align: center')
          //-   if binary.installed
          //-     span.pficon.pficon-ok
          //-   else
          //-     span.pficon-layered
          //-       span.pficon.pficon-error-octagon
          //-       span.pficon.pficon-error-exclamation
  br
  include ../includes/datatables-js.jade
else
  div.alert.alert-info
    span.pficon.pficon-info
    strong No binaries to display. 
    a.alert-link(href='/#/binaries/add') Go add one.
