if item
  td: a(href='/#/binaries/' + item.id) #{item.id}
  td: a(href='/#/binaries/' + item.id) #{item.name}
  td #{_.trunc(item.description, 150)}
  td
    - var categories = item.categories()
    if categories.length
      ul.list-unstyled
        each category in categories
          li: a(href='/#/binaries/categories/' + category.id) - #{category.name}
    else
      | -
  td
    if item.homepage
      a(href=item.homepage, target='_blank') #{_.trunc(item.homepage, 35)}
    else
      | -
